
body {
    font-size: 1em;
    font-weight: 700;
    background-color: #e6e6e6;
}

h1 { text-shadow: 2px 2px #ff0000; }

h2 { text-shadow: 2px 2px #ffffff; }

a { padding: 10px 10px 10px 10px;}

#form1 {
	background-color:#c2d6d6;
	margin:20px 160px 20px 160px;
}

#message {
	background-color:#c2d6d6;
	margin:20px 60px 20px 60px;
	padding:20px 20px 20px 20px;
	color: red;
}

#f1 {
	background-color:#c2d6d6;
	margin:20px 60px 20px 60px;
	padding:20px 20px 20px 20px;
}

#h1 {
	background-color:#c2d6d6;
	margin:20px 60px 20px 60px;
	padding:20px 20px 20px 20px;
	text-align: right;
}

#s1 {
	background-color:#c2d6d6;
	margin:20px 60px 20px 60px;
	padding:20px 20px 20px 20px;
}

#s2 {
	background-color:#c2d6d6;
	margin:20px 20px 20px 40px;
}

select { padding:5px 15px 5px 15px; }

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;#c3c3c3
}

.inputfile + label {
	padding: 5px 5px 5px 5px;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.button {
	padding: 5px 5px 5px 5px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    background-color: black;
    display: inline-block;
}

.button:focus,
.button:hover {
    background-color: red;
}

.accordion {
    background-color: #CEF6F5;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    bbackground-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
.tab button.active:after {
    content: "";
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #ccc;
    border-top: none;
}


